################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/battery.level/.vs/battery.level/v16
/battery.level/obj/Debug
/battery.level/bin/Debug
